mixin createCards(teachers)
  each teacher in teachers
    .col.s12.m3
      .card.card-avatar
        .waves-effect.waves-block.waves-light
          img.activator(src=teacher.img)
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            =teacher.name
            br
            small
              em
                a.red-text.text-darken-1(href=teacher.link)=teacher.details

- $ = locals.contents.lehrer
#team.section.scrollspy
  .container
    h2.header.text_b=$.headline
    .row
      +createCards($.teachers)
