#index-banner.section.no-pad-bot
  .container
    h1.text_h.center.header.cd-headline.letters.type
      span
      span.cd-words-wrapper.waiting
        b.is-visible Wo die Sprache aufhört, fängt Musik an
        b Ohne Musik wäre das Leben ein Irrtum
        b Musik ist die Liebe auf der Suche nach einem Wort
