mixin row(parts)
  each part in parts
    .col.s12.m4.l4
      .center.promo.promo-example
        i.mdi-image-flash-on
        h5.promo-caption=part.headline
        p.light.center=part.text

- $ = locals.contents.intro
#intro.section.scrollspy
  .container
    h2.header.text_b=$.headline
    .row
      .col.s12
        h2.center.header.text_h2!=$.subheadline
      +row($.parts)
