mixin createCards(cards, more)
  each card in cards
    .col.s12.m4.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src=card.img)
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            =card.title
            i.mdi-navigation-more-vert.right
          p
            a(href=card.link)=more
        .card-reveal
          span.card-title.grey-text.text-darken-4
            =card.title
            i.mdi-navigation-close.right
          p=card.details

- $ = locals.contents.angebot
#work.section.scrollspy
  .container
    h2.header.text_b=$.headline
    .row
      +createCards($.cards, $.cardsMore)
