extends base

block main
    // Hero
    include block1

    // Intro and service
    include block2

    // Work
    include block3

    // Parallax divider
    include block4

    // Lehrer
    include block5
